/*html {
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    background: rgb(14, 98, 165);
    color: white;
}

#c9-logo, #ace-logo {
    padding: 0;
    border: none;
}
*/
#controls {
    margin:auto;
    width: 100%;

}

#controls td {
	overflow: hidden;
    position: relative;
    text-align: right;
}
#editor-container {

    position: relative;
    background: white;
	border: 2px solid black;
}

#submit_button
{
	overflow: hidden;
	position: relative;
	margin:10px;
}
#controls td + td {
    text-align: left;
}
.ace_status-indicator {
    color: gray;
    right: 0;
    border-left: 1px solid;
}
/*
.ace_text-input {
    z-index: 10;
    opacity: 1;
	height:100px;
    background: rgb(84, 0, 255);
    color: rgb(255, 255, 255);
    width: 100em;
}
*/