.jumbotron {
background: light-grey;
color: black;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 0px;
padding-bottom: 2px; }
.jumbotron small {
color: grey;
}
.h1 small {
font-size: 24px;
}
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.inp_form { width:70%; }
@media only screen and (max-width: 768px) {
    .inp_form { width:80%; }
    .inp_form h1 { font-size:8vw; }
}
@media only screen and (max-width: 600px) {
    .inp_form { width:100%; }
}
#switch {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.85);
    z-index: 5;
    height: 100%;
    width: 100%;
}

		.circular-image{
			height:20vw;
			width:20vw;
			margin:0 auto;
			border-radius: 50%;
			position:relative;
			background: #cecece url("../images/overlay.jpg");
			background-attachment: fixed;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: contain;
		}


		.left-part{
			height:20vw;
			width:37vw;
		}

		.right-part{
			height:20vw;
			width:37vw;
		}

@media screen and (max-width: 480px) {

		.circular-image{
				height:50vw;
				width:50vw;
				background-size: contain;
			}
}

@media screen and (max-width: 1280px) {

	/* circular */

		.circular-image{
			height:20vw;
			width:20vw;
			margin:0 auto;
			border-radius: 50%;
			position:relative;
			background-image: url("../images/overlay.jpg");
			background-attachment: fixed;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.left-part{
			height:20vw;
			width:37vw;
		}

		.right-part{
			height:20vw;
			width:37vw;
		}
}

@media screen and (max-width: 840px) {

		.circular-image{
			height:30vw;
			width:30vw;
			background-size: contain;
		}

		.left-part{
			height:30vw;
			width:32vw;
		}

		.right-part{
			height:30vw;
			width:32vw;
		}
}

@media screen and (max-width: 736px) {
		.circular-image{
			height:40vw;
			width:40vw;
			background-size: contain;
		}

		.left-part{
			display:none;
		}

		.right-part{
		    display:none;
		}
}