RewriteEngine On
RewriteRule ^img/(.+)$ img/$1 [L]
RewriteRule ^favicon/(.+)$ favicon/$1 [L]
RewriteRule ^js/(.+)$ js/$1 [L]
RewriteRule ^css/(.+)$ css/$1 [L]
RewriteRule ^controller/(.+)$ controller/$1 [L]
RewriteRule ^lib/(.+)$ lib/$1 [L]
RewriteRule ^model/(.+)$ model/$1 [L]
RewriteRule ^view/(.+)$ view/$1 [L]
RewriteRule ^api/(.+)$ api/$1 [L]
RewriteRule ^uploads/(.+)$ uploads/$1 [L]
RewriteCond %{QUERY_STRING} ^p_id=(\d+)$
RewriteRule ^problem\/?$ /index.php?controller=problem&function=fetch_problem&p_id=%1 [L]
RewriteRule ^(.*)/(.*)$ /index.php?controller=$1&function=$2 [L]
